// app global css in SCSS form

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: $stretch-max-width;
}

.body--light {
  background-color: #fafafa;
}

/* GAP */

.gap-xs {
  gap: 0.25rem;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 1.5rem;
}

.gap-xl {
  gap: 3rem;
}

/* --- */

.active-item-menu {
  background-color: rgba($color: $primary, $alpha: 0.2);
  color: $primary;
}

.bg-theme-paper {
  background-color: $dark;
}

.tiptap {
  &:focus {
    outline: none;
  }

  :first-child {
    margin-top: 0;
  }

  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* SCROLL */

body {
  scrollbar-color: rgba(rgb(255, 255, 255), 0.2) transparent;
  scrollbar-width: thin;
}

/* EDITOR */

.tiptap {
  &:focus {
    outline: none;
  }

  :first-child {
    margin-top: 0;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
  }

  ul li p,
  ol li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  code {
    background-color: $primary;
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: JetBrainsMono, monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
  }

  pre code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }

  blockquote {
    border-left: 3px solid grey;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid grey;
    margin: 2rem 0;
  }

  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
  }

  table td,
  table th {
    border: 1px solid grey;
    box-sizing: border-box;
    min-width: 1em;
    padding: 6px 8px;
    position: relative;
    vertical-align: top;
  }

  table td > *,
  table th > * {
    margin-bottom: 0;
  }

  table th {
    background-color: var(--gray-1);
    font-weight: 700;
    text-align: left;
  }

  table .selectedCell:after {
    background: grey;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }

  table .column-resize-handle {
    background-color: var(--purple);
    bottom: -2px;
    pointer-events: none;
    position: absolute;
    right: -2px;
    top: 0;
    width: 4px;
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  img {
    display: inline-block;
    float: none;
    margin: 12px 0;
    max-width: 100%;

    &[data-display='inline'] {
      margin-left: 12px;
      margin-right: 12px;
    }

    &[data-display='block'] {
      display: block;
    }

    &[data-display='left'] {
      float: left;
      margin-left: 0;
      margin-right: 12px;
    }

    &[data-display='right'] {
      float: right;
      margin-left: 12px;
      margin-right: 0;
    }
  }

  .iframe-wrapper {
    width: 100%;
    height: auto;

    iframe {
      width: 100%;
      height: 400px;
    }
  }

  @media (min-width: 1200px) {
    h3 {
      font-size: 1.75rem;
    }
  }
}
